.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  justify-self: flex-start;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
.primaryLargeDefaultWithTextYes {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  background: #15171a;
  cursor: pointer;
  padding: 12px;
}
.primaryLargeDefaultWithTextYes > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.primaryLargeDefaultWithTextYes > :global(.__wab_flex-container) > *,
.primaryLargeDefaultWithTextYes
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.primaryLargeDefaultWithTextYes
  > :global(.__wab_flex-container)
  > picture
  > img,
.primaryLargeDefaultWithTextYes
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.primaryLargeDefaultWithTextYeswithoutText {
  padding-right: 16px;
  padding-left: 16px;
}
.primaryLargeDefaultWithTextYessize_medium {
  padding: 10px;
}
.primaryLargeDefaultWithTextYessize_small {
  padding: 8px;
}
.primaryLargeDefaultWithTextYestype_secondary {
  background: #ffffff;
  border: 1px solid #15171a;
}
.primaryLargeDefaultWithTextYestype_tertiary {
  background: #ffffff;
  border: 1px solid #e9ecef;
}
.primaryLargeDefaultWithTextYestype_ghost {
  background: none;
}
.root:hover .primaryLargeDefaultWithTextYes {
  background: #2a2e33;
}
.roottype_secondary_size_large:hover
  .primaryLargeDefaultWithTextYestype_secondary_size_large {
  background: #e9ecef;
}
.rootsize_large_type_tertiary:hover
  .primaryLargeDefaultWithTextYessize_large_type_tertiary {
  background: #e9ecef;
}
.roottype_secondary_size_medium:hover
  .primaryLargeDefaultWithTextYestype_secondary_size_medium {
  background: #e9ecef;
}
.rootsize_large_type_ghost:hover
  .primaryLargeDefaultWithTextYessize_large_type_ghost {
  background: #f8f9fa;
}
.roottype_tertiary_size_medium:hover
  .primaryLargeDefaultWithTextYestype_tertiary_size_medium {
  background: #e9ecef;
}
.roottype_secondary_size_small:hover
  .primaryLargeDefaultWithTextYestype_secondary_size_small {
  background: #e9ecef;
}
.roottype_ghost_size_medium:hover
  .primaryLargeDefaultWithTextYestype_ghost_size_medium {
  background: #f8f9fa;
}
.rootsize_small_type_tertiary:hover
  .primaryLargeDefaultWithTextYessize_small_type_tertiary {
  background: #e9ecef;
}
.rootsize_small_type_ghost:hover
  .primaryLargeDefaultWithTextYessize_small_type_ghost {
  background: #f8f9fa;
}
.endPrimary {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.endPrimary > picture > img {
  object-fit: cover;
}
.endPrimaryhasEndIcon {
  display: block;
}
.endPrimarytype_secondary_size_large_hasEndIcon {
  display: none;
}
.endPrimarysize_large_type_tertiary_hasEndIcon {
  display: none;
}
.endPrimarytype_secondary_hasEndIcon_size_medium {
  display: none;
}
.endPrimarysize_large_hasEndIcon_type_ghost {
  display: none;
}
.endPrimarytype_tertiary_hasEndIcon_size_medium {
  display: none;
}
.endPrimarytype_secondary_size_small_hasEndIcon {
  display: none;
}
.endPrimaryhasEndIcon_type_ghost_size_medium {
  display: none;
}
.endPrimarysize_small_type_tertiary_hasEndIcon {
  display: none;
}
.endPrimarysize_small_hasEndIcon_type_ghost {
  display: none;
}
.rootsize_small_hasEndIcon_type_ghost:hover
  .endPrimarysize_small_hasEndIcon_type_ghost {
  display: none;
}
.endSecondary {
  object-fit: cover;
  max-width: 100%;
  color: #15171a;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.endSecondarytype_secondary_size_large_hasEndIcon {
  display: block;
}
.endSecondarysize_large_type_tertiary_hasEndIcon {
  display: block;
}
.endSecondarytype_secondary_hasEndIcon_size_medium {
  display: block;
}
.endSecondarysize_large_hasEndIcon_type_ghost {
  display: block;
}
.endSecondarytype_tertiary_hasEndIcon_size_medium {
  display: block;
}
.endSecondarytype_secondary_size_small_hasEndIcon {
  display: block;
}
.endSecondaryhasEndIcon_type_ghost_size_medium {
  display: block;
}
.endSecondarysize_small_type_tertiary_hasEndIcon {
  display: block;
}
.endSecondarysize_small_hasEndIcon_type_ghost {
  display: block;
}
.rootsize_small_hasEndIcon_type_ghost:hover
  .endSecondarysize_small_hasEndIcon_type_ghost {
  display: block;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 600;
  min-width: 0;
}
.textwithoutText {
  display: none;
}
.texttype_secondary {
  color: #15171a;
}
.texttype_tertiary {
  color: #212529;
}
.texttype_ghost {
  color: #212529;
}
.texthasEndIcon {
  align-self: flex-end;
  display: block;
}
.texthasStartIcon {
  align-self: flex-end;
}
.startPrimary {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  display: none;
}
.startPrimary > picture > img {
  object-fit: cover;
}
.startPrimarywithoutText {
  display: block;
}
.startPrimarytype_secondary {
  display: none;
}
.startPrimarytype_tertiary {
  display: none;
}
.startPrimarytype_ghost {
  display: none;
}
.startPrimaryhasStartIcon {
  display: block;
}
.startPrimarywithoutText_type_secondary_size_large {
  display: none;
}
.startPrimarywithoutText_type_tertiary_size_medium {
  display: none;
}
.startPrimarytype_secondary_size_large_hasStartIcon {
  display: none;
}
.startPrimarysize_large_type_tertiary_hasStartIcon {
  display: none;
}
.startPrimarytype_secondary_hasStartIcon_size_medium {
  display: none;
}
.startPrimarysize_large_hasStartIcon_type_ghost {
  display: none;
}
.startPrimarytype_tertiary_hasStartIcon_size_medium {
  display: none;
}
.startPrimarytype_secondary_size_small_hasStartIcon {
  display: none;
}
.startPrimaryhasStartIcon_type_ghost_size_medium {
  display: none;
}
.startPrimarysize_small_type_tertiary_hasStartIcon {
  display: none;
}
.startPrimarysize_small_hasStartIcon_type_ghost {
  display: none;
}
.rootwithoutText_size_large_type_primary:hover
  .startPrimarywithoutText_size_large_type_primary {
  display: block;
}
.startSecondary {
  object-fit: cover;
  max-width: 100%;
  color: #15171a;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.startSecondarywithoutText_type_secondary_size_large {
  display: block;
}
.startSecondarywithoutText_size_large_type_tertiary {
  display: block;
}
.startSecondarywithoutText_type_secondary_size_medium {
  display: block;
}
.startSecondarywithoutText_size_large_type_ghost {
  display: block;
}
.startSecondarywithoutText_type_tertiary_size_medium {
  display: block;
}
.startSecondarywithoutText_type_secondary_size_small {
  display: block;
}
.startSecondarywithoutText_type_ghost_size_medium {
  display: block;
}
.startSecondarywithoutText_size_small_type_tertiary {
  display: block;
}
.startSecondarywithoutText_size_small_type_ghost {
  display: block;
}
.startSecondarytype_secondary_size_large_hasStartIcon {
  display: block;
}
.startSecondarysize_large_type_tertiary_hasStartIcon {
  display: block;
}
.startSecondarytype_secondary_hasStartIcon_size_medium {
  display: block;
}
.startSecondarysize_large_hasStartIcon_type_ghost {
  display: block;
}
.startSecondarytype_tertiary_hasStartIcon_size_medium {
  display: block;
}
.startSecondarytype_secondary_size_small_hasStartIcon {
  display: block;
}
.startSecondaryhasStartIcon_type_ghost_size_medium {
  display: block;
}
.startSecondarysize_small_type_tertiary_hasStartIcon {
  display: block;
}
.startSecondarysize_small_hasStartIcon_type_ghost {
  display: block;
}
